p {
  text-align: left;
  color: red;
}
.personname {
  text-align: center;
  float: center;
  color: turquoise;
}
.date {
  color: turquoise;
}
.starttime {
  color: turquoise;
}
.endtime {
  color: turquoise;
}
